@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060a19;
  background-image: url(./assets/bg-image.png);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-font {
  font-family: "Fredoka One", cursive;
}

.secondary-font {
  font-family: "Open Sans", sans-serif;
}

.card-bg {
  font-size: 2.5rem;
  background-color: #433a8b;
  border-radius: 1rem;
}
